#weekView{
    -fx-background-image: url("openJournal.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 1200 800;
    -fx-background-position: center center;
    -fx-font-family: "Book Antiqua";
}

#upload{
    -fx-background-image: url("closedJournal.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 300 400;
    -fx-background-position: center center;
    -fx-font-family: "Book Antiqua";
}

#miniView{
    -fx-font-family: "Book Antiqua";
}